aiofiles==25.1.0
aiohttp==3.13.5
audioop-lts==0.2.2; python_version>="3.13"
beautifulsoup4==4.14.3
codespell==2.4.2
coverage==7.14.0
docstr-coverage==2.3.2
flake8==7.3.0
flake8-comprehensions==3.17.0
genbadge[all]==1.1.3
httpx==0.28.1
mypy[faster-cache, reports]==2.1.0
mypy-extensions==1.1.0
nextcord==3.1.1
pytest==9.0.3
pytest-asyncio==1.3.0
pytest-github-actions-annotate-failures==0.4.0
pytest-httpx==0.36.2
pytest-rerunfailures==16.2
python-dotenv==1.2.2
requests==2.34.2
ruff==0.15.13
steam==1.4.4
types-aiofiles==25.1.0.20260518
types-beautifulsoup4==4.12.0.20250516
types-requests==2.33.0.20260518
types-flake8==7.3.0.20260508
